@media screen and (max-width:812px) {

    .header {
        display: none;
    }

    .navbar {
        display: block;
        background-color: black;
    }

    .navbar-toggler {
        border-radius: 0px;
    }
}