@media screen and (max-width:812px) {

    .header {
        display: none;
    }

    .navbar {
        display: block;
        background-color: black;
    }

    .navbar-toggler {
        border-radius: 0px;
    }

    .main__text-block {
        margin-left: 5%;
        margin-right: 5%;
        gap: 12px;
    }

    .main__text-block h1 {
        font-size: 32px;
    }

    .main__text-block p {
        font-size: 22px;
    }

    .main__text-block p span {
        font-size: 22px;
    }

    .main__text-block p span1 {
        font-size: 22px;
    }

    .main__text-block ul li {
        font-size: 22px;
    }

    .main__text-block ul li span {
        font-size: 22px;
    }

    .main {
        gap: 12px;
        margin-top: 24px;
    }

    .main__review-container {
        flex-direction: column;
    }

    #rew_2 {
        flex-direction: column-reverse;
    }

    #rew_4 {
        flex-direction: column-reverse;
    }

    .main__review-text {
        gap: 20px;
    }

    .main__review-info p {
        font-size: 20px;
    }

}

@media screen and (max-width:616px) {
    .footer {
        flex-direction: column;
        align-items: center;
        min-height: 84px;
        gap: 0px;
        margin-bottom: 31px;
    }
}

@media screen and (max-width:395px) {
    .main__text-block h1 {
        font-size: 28px;
    }

    .main__text-block p {
        font-size: 18px;
    }

    .main__text-block p span {
        font-size: 18px;
    }

    .main__text-block p span1 {
        font-size: 18px;
    }

    .main__text-block ul li {
        font-size: 18px;
    }

    .main__text-block ul li span {
        font-size: 18px;
    }

    .main__review-info p {
        font-size: 16px;
        text-align: left;
    }

    .main__review-stars {
        gap: 6px;
    }

    .main__review-stars svg {
        width: 30px;
    }

    .main__review-foto img {
        width: 100px;
        height: 100px;
    }

    #stars_left {
        justify-content: space-between;
    }

    #stars_right {
        justify-content: space-between;
    }

    .main__review-container {
        gap: 15px;
        margin-bottom: 8px;
    }

    .main__review-text {
        gap: 10px;
        min-height: 140px;
    }
}