@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 0px;
    }
}

.header {
    margin: 0;
    height: 89px;
    width: 100%;
    background-color: #000;
}

.navbar {
    display: none;
}

body {
    margin: 0 auto;
    font-family: "Montserrat";
    background: repeating-linear-gradient(45deg,
            #080808,
            #080808 5%,
            #0B0B0B 5%,
            #0B0B0B 10%);
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
}

.header__box1 {
    margin: 0 auto;
    max-width: 1121px;
    height: 74px;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 24px;
    padding-top: 7px;
}

.header__box2 {
    max-width: 905px;
    height: 33px;
    margin-top: 28px;
    display: flex;
    gap: 24px;
}

.header__a-active {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.header__a-passive {
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.header__a-box-active {
    display: flex;
    flex-direction: column;
}

.header__a-line {
    width: 100%;
    height: 3px;
    background-color: #D868FF;
}

.main {
    margin: 0 auto;
    max-width: 906px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main__gameplay {
    width: 100%;
    height: 510px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.62),
            rgba(0, 0, 0, 0.62)), url("img/gameplay.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: contain;*/

}

.main__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main__img img {
    width: 70%;
}

.main__logo-box {
    width: 100%;
    height: 11px;
    background-color: #D868FF;
}

.main__logo-box2 {
    max-width: 669px;
    min-height: 8px;
    background-color: #D868FF;
}

.main__text-block h1 {
    margin: 0;
    color: #D868FF;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.main__text-block p,
ul,
ol {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.main__text-block {
    max-width: 673px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.main__text-block ol {
    list-style-position: inside;
    padding: 0;
}

.main__text-block p span {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__text-block li span {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__text-block p span1 {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.main__spacer {
    width: 80%;
    height: 2px;
    background-color: #777;
}

.main__bubble-boxes {
    margin: 0 auto;
    max-width: 736px;
    display: flex;
    flex-direction: row;
    margin-bottom: 52px;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
}

.main__download {
    width: 669px;
    height: 357px;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    justify-content: end;
}

.main__download p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;
}

.main__download img {
    width: 325px;
    height: 59px;
}

.main__btn-box {
    width: 428px;
    height: 15px;
    background-color: #BD00FF;
}

.main__download-btn {
    width: 428px;
    height: 124px;
    background-color: #D868FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__download-btn p {
    margin: 0;
    margin-top: 43px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    width: 100%;
    min-height: 184px;
    background-color: #050505;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 105px;
}

.main__botter {
    margin-bottom: 28px;
}

.footer__box h1 {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.footer__box {
    margin-top: 31px;
}

.footer__main {
    width: 205px;
    height: 76px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.footer__main a {
    color: #FFF;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.footer__phone a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.footer__phone {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.main__botter {
    margin-bottom: 28px;
}

/*Стили для отзывов*/
.main__review {
    margin: 0;
    width: 666px;
    height: 258px;
    background: rgba(0, 0, 0, 0.50);
}

.main__review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 41px;
    margin-top: 27px;
    margin-right: 47px;
    margin-bottom: 35px;
}

.main__review-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;

}

.main__review-foto p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__review-foto img {
    width: 129px;
    height: 129px;
    border-radius: 129px;
}

.main__review-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 395px;
    height: 204px;
}

.main__review-text p {
    color: #FFF;
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.main__review-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 129px;
}

.main__review-stars {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 48px;
}

#stars_left {
    justify-content: end;
}

#stars_right {
    justify-content: start;
}

.h1 {
    margin-top: 42px;
}

/*стили для о нас*/
.main__text-block li span {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__we {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.main__we-img {
    max-width: 673px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.main__we-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__we-text {
    margin: 0;
}

#autor {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*Библиотека*/
.main__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.mb-3 {
    margin-bottom: 0px !important;
    background: #4E4E4E;
    width: 238px;
    height: 35px;
}

.form-control {
    background-color: #4E4E4E;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    height: 35px;
}

#button-addon2 {
    border: 0px;
    height: 35px;
}

.main__complexity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    max-width: 483px;
}

.main__complexity-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 35px;
    border: 0px;
}

.main__complexity-item p {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#all {
    background: rgba(216, 104, 255, 0.50);

}

#all:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgba(216, 104, 255, 1);
    border-color: var(--bs-btn-hover-border-color);
}

#green {
    background: rgba(114, 255, 91, 0.50);

}

#green:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgba(114, 255, 91, 1);
    border-color: var(--bs-btn-hover-border-color);
}

#yellow {
    background: rgba(255, 219, 91, 0.5);
}

#yellow:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgba(255, 219, 91, 1);
    border-color: var(--bs-btn-hover-border-color);
}

#red {
    background: rgba(255, 91, 91, 0.50);
}

#red:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgba(255, 130, 130, 1);
    border-color: var(--bs-btn-hover-border-color);
}

.main__complexity-line {
    width: 3px;
    height: 35px;
    background: #FFF;
}

.main__songs {
    width: 100%;
    margin-top: 31px;
    gap: 45px;
}

.main__songs-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.main__songs-item li span {
    font-weight: 700;
}

.main__songs-list {
    margin: 0;
}

.main__songs-img {
    width: 277px;
    height: 249px;
    flex-shrink: 0;
}

.main__songs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}