@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.ttf");
}

@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 0px;
    }
}

.header {
    margin: 0;
    height: 89px;
    width: 100%;
    background-color: #000;
}

body {
    margin: 0 auto;
    font-family: "Montserrat";
    background: repeating-linear-gradient(45deg,
            #080808,
            #080808 5%,
            #0B0B0B 5%,
            #0B0B0B 10%);
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
}

.header__box1 {
    margin: 0 auto;
    width: 1121px;
    height: 74px;
    display: flex;
    align-self: center;
    flex-direction: row;
    gap: 24px;
    padding-top: 7px;
}

.header__box2 {
    width: 905px;
    height: 33px;
    margin-top: 28px;
    display: flex;
    gap: 24px;
}

.header__a-active {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.header__a-passive {
    color: rgba(255, 255, 255, 0.80);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.header__a-box-active {
    display: flex;
    flex-direction: column;
}

.header__a-line {
    width: 101px;
    height: 3px;
    background-color: #D868FF;
}

.main {
    margin: 0 auto;
    width: 906px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main__gameplay {
    width: 906px;
    height: 510px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.62),
            rgba(0, 0, 0, 0.62)), url("img/gameplay.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__gameplay img {
    padding-top: 197px;
}

.main__logo-box {
    width: 906px;
    height: 11px;
    background-color: #D868FF;
}

.main__logo-box2 {
    width: 669px;
    height: 8px;
    background-color: #D868FF;
}

.main__text-block h1 {
    margin: 0;
    color: #D868FF;
    font-size: 36px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.main__text-block p,
ul,
ol {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.main__text-block {
    width: 673px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.main__text-block ol {
    list-style-position: inside;
    padding: 0;
}

.main__text-block p span {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__text-block li span {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.main__text-block p span1 {
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

.main__spacer {
    width: 736px;
    height: 3px;
    background-color: #777;
}

.main__bubble-boxes {
    margin: 0 auto;
    width: 736px;
    height: 221px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
}

.main__download {
    width: 669px;
    height: 357px;
    background-color: rgba(0, 0, 0, 0.44);
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
    justify-content: end;
}

.main__download p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 10px;
}

.main__download img {
    width: 325px;
    height: 59px;
}

.main__btn-box {
    width: 428px;
    height: 15px;
    background-color: #BD00FF;
}

.main__download-btn {
    width: 428px;
    height: 124px;
    background-color: #D868FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__download-btn p {
    margin: 0;
    margin-top: 43px;
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    width: 100%;
    height: 184px;
    background-color: #050505;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 105px;
}

.main__botter {
    margin-bottom: 28px;
}

.footer__box h1 {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.footer__box {
    margin-top: 31px;
}

.footer__main {
    width: 205px;
    height: 76px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}

.footer__main a {
    color: #FFF;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__phone a {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: none;
}

.footer__phone {
    display: flex;
    flex-direction: column;
    gap: 2px;
}